.DS_Store
._*
error_log
400.shtml
401.shtml
403.shtml
404.shtml
500.php
500.shtml
test_images/
images/maze/textures/*
images/maze/textures_small/*
images/maze/textures_use/*
images/maze/textures_test/*
images/maze/textures_same/*
!images/maze/textures/.gitkeep
!images/maze/textures_small/.gitkeep
uploads/*
!uploads/.gitkeep
!uploads/findersfolder/.gitkeep
includes/config.include.php
backups/*
!backups/.gitkeep
initial_files/*
