body{
	width: 960px;
	margin: auto;
	font-family: "Andale Mono", helvetica, arial, sans-serif;
}

#links{
	margin: auto;
	margin-top: 150px;
	font-family: "Lobster 1.4", helvetica, arial, sans-serif;
	font-size: 60pt;
	text-align: center;
}

a{
	color: #000000;
	text-decoration: none;
}

a:hover{
	color: #757575;

}

#description{
	width: 600px;
	margin: auto;
	margin-top: 50px;
}

#description a{
	text-decoration: underline;
}