.container {
  position: relative;
}

canvas{
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
}

#blocker {

        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
        text-align: center;
}

progress[value] {
  
   /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* Get rid of default border in Firefox. */
  border: none;

  width: 400px;
  height: 30px;
  
  /* For IE10 */
  color: #ffffff; 
}

/*styles the progress bar value*/
progress[value]::-webkit-progress-value{
        background-color: #ffffff;  
}

/*same as above but with firefox*/
progress[value]::-moz-progress-bar{
        background-color: #636363;
}

#instructions, #end-container{
        display: none;
        padding: 15px;
        position: absolute;
        background-color: white;
        border: 3px solid black;
        border-radius: 10px;
        z-index: 2;
        
        cursor: default;
        text-align: center;
        font-family: "Andale Mono", helvetica, arial, sans-serif;
}

#instructions a{
        color: #ffffff;
}

#instructions a:visited{
        color: #ffffff;
}

#instructions img{
  width: 200px;
  height: 200px;
  margin: 7px;
}

#instructions button{
  display: block;
  margin: 10px auto;
}

/*opt-out button*/
#opt-out{
  text-decoration: underline;
}

#opt-out:hover{
  cursor: pointer;
}

/*show-navbar-insert*/
.navbar-insert{
  display: inline-block;
  font-size: 10pt;
  padding-top: 17px;
}

.navbar-insert span{
  opacity: 0;
}

.navbar-insert button{ 
  float: right;
  font-size: 10pt;
  padding: 2px 5px;
  margin: 0px;
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}

.navbar-insert button:hover, .navbar-insert button:focus{
  background-color: #ffffff;
  color: #000000;
}

/* Zip file upload */
/* temp */
#end-container {
  display: none;
  width: 500px;
}

#end-container p{
  text-align: left;
}


