/* CSS Document */

body {
	padding: 0px;
	margin: 0px;
	text-align:center;
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	line-height: 140%;
	font-size: 12pt;
}

.content{
	width: 960px;
	margin: auto;
	padding-bottom: 40px;
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	padding-top: 40px;
	font-size: 12pt;
}

#navbar .content{
	padding-top: 0px;
}

/*only shows up on play page*/
.navbar-insert {

	display: none;
	width: 520px;
}

.content a{
	color: #000000;
}

#navbar{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
	color: #ffffff;
	font-size: 14pt;
	background-color: #000000;
}

#navbar a{
	color: #ffffff;
	font-family: "Lobster", helvetica, arial, sans-serif;
	font-size: 14pt;
	text-decoration: none;
}

/*title*/
#navbar h1{
	float: left;
	font-size: 18pt;
	margin-top: 15px;
	margin-left: 25px;
}

/*beta title*/
#navbar span{
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	font-size: 10pt;
}

#navbar span a{
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	font-size: 12pt;
	float: left;
	margin-left: 20px;
	margin-top: 19px;
}

#navbar h1 span{
	font-size: 10pt;
}

#navbar .content a:hover{
	text-decoration: underline;
}

/*play and make links container on navbar*/
#navbar .content div#links{
	float: right;
	padding-right: 25px;
	margin-top: 16px;
}

/*page name*/
.content h2{
	font-family: "Lobster", helvetica, arial, sans-serif;
	font-size: 24pt;
	text-align: right;
}

.content p{
	text-align: left;
	width: 80%;
	margin: auto;
}

/*Editable maze key*/
.maze-key{
	list-style-type: none;
	width: 200px;
	padding-left: 0px;
	margin: 25px auto 10px auto;
}

.maze-key div {
	width: 55px;
	margin: 0px;
	display: inline-block;
}

.maze-key div span {
	margin: auto;
}

.maze-key div img{
	width: 30px;
	height: 30px;
	margin: auto;
}

/*div container for editable 2D maze*/
div.maze-container{
	position: relative;
	margin: auto;
	width: 800px;
}


div.error-box ul{
	pointer-events: none;
	background: #ffffff;
	color: #ff0000;
	border: 2px solid #ff0000;
	padding: 10px;
	position: absolute;
	z-index: 2;
	top: 350px;
	left: 260px;
	list-style-type: none;
	display: inline-block;
}

div.error-box ul li{
	text-align: center;
}

/*save button*/
.button, button{
	margin: 25px;
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	background-color: #ffffff;
	padding: 5px 10px;
	font-size: 14pt;
	border: 1px solid #000000;
}

.button:hover, .button:focus, button:hover, button:focus, button:hover, button:focus{
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}

/*file upload*/
form.file-upload{
	display: block;
	padding-top: 40px;
	width: 350px;
	margin: auto;
}

div.file-upload-input-container{
	padding: 5px 0px;
}

form.file-upload label{
	float: left;
	display: block;
}

form.file-upload input.button{
	margin-top: 40px;
}

/*color picker*/
#colorpicker{
	position: absolute;
}

/*sketcher*/

#sketcher{
	position: relative;
}

#sketch{
  border: 2px solid #888888; 
  background-color: #EEEEEE;
  border-radius: 0px;
}

#color_swatch, #tool_button{
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  background-size: 100%;
  border: 1px solid #888888;
  display: inline-block;
  cursor: pointer;

}

ul.tools{
	padding: 20px 0px 0px 0px;
	margin: 10px;
	padding-bottom: 2px;
	margin: auto;
}

.drag_button {
  background-image: url("../images/sketcher/hand_icon.png");
}

.draw_button {
  background-image: url("../images/sketcher/marker_icon.png");
}

.grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.grabbing { 
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; 
}

.drawing {
	cursor: url('../images/sketcher/marker_cursor.png') 0 30, default;
}

/*upload notifications and instructions*/
.instructions{
	opacity: 0;
	-webkit-transition: opacity 1s,  color 1s;  
    -moz-transition: opacity 1s,  color 1s;  
    -o-transition: opacity 1s,  color 1s;  
    transition: opacity 1s,  color 1s;
}

.instructions-show{
	opacity: 1;
}

.file-upload-notification {
	opacity: 0;
	-webkit-transition: opacity 1s,  color 1s;  
    -moz-transition: opacity 1s,  color 1s;  
    -o-transition: opacity 1s,  color 1s;  
    transition: opacity 1s,  color 1s;
}

.error-text, .error-text a, .success-text a:link, .error-text a:hover, .error-text a:visited {
	color: #fc1d00;
	opacity: 1;
}

.success-text, .success-text a, .success-text a:link, .success-text a:hover, .success-text a:visited {
	color: #22de0d;
	opacity: 1;
}

/* misc */




